html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
    script(src="/js/jquery.js")
    script(src="/js/p5/p5.js")
    script(src='/js/client.js')
  body
    h1= message
    div(id='endpoints-data', class='hidden', data-endpoints=endpoints)
    div(id='container').container
      div(id='board').board
      div(id='panel').panel
        div(id='loser').loser
          ul#endpoints
            each endpoint in endpoints.endpoints
              li(style={'background-color': endpoint.color})
                input(type="checkbox", name=endpoint.name, id=endpoint.name, value=endpoint.id)
                if(endpoint.name != "")
                  span=endpoint.name + " : " + endpoint.url
                else
                  span="🤦 : " + endpoint.url
          span Loser name:
          span#loser-name
          br
          span Loser 2 name:
          span#loser-2-name
          br
          span Hit:
          span#loser-hit
          br
          span Framerate:
          select(name='framerate' id='framerate')
            option(value='10') 10 fps
            option(value='20') 20 fps
            option(value='30') 30 fps
            option(value='40') 40 fps
          br
          span Size:
          input(type='text', name='topX', id='topX', value='30')          
          input(type='text', name='topY', id='topY', value='30')          
          br
          input(type='button', id='start', value='Start')